bin/*
build/*
*.o
*.elf
*.bin
*.d

configs/*
!configs/configs.mk
!configs/linker.ld 
!configs/example/

# IDE
.vscode/

# Scratch files
test.c
test2.c

# Unit test build artefacts
tests/test_irq_rate_limit
tests/test_irq_rate_limit.dSYM/

